:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #3c92fa;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
   height: clamp(680px, 100vh, 700px);
   display: grid;
   grid-template-columns: 50% 50%;
}

.principal {
    background: url(./img/background.png) no-repeat center top/contain; 
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin:0 6em;
}

.container__descricao {
    padding: 2em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block; 
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

    transition: all 0.5s;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.secundario {
    align-items: center;
    margin: 0 10em;

    height: clamp(500px, 100vh, 550px);
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario)
}


.dispositivos {
    text-align: center;
    height: clamp(500px, 100vh, 600px);
    padding: 5em 0;
}

.dispositivos__titulo {
    font-size: 3rem;
    font-weight: bold;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none; 
    
    margin: 5rem 0;
}

.lista__item {
    font-size: 2rem;
    font-weight: bold;
}

.rodape {
    text-align: center;

    margin: 5em 10em 5em;
}

.rodape__lista {
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;

    margin: 2.5rem 0 1.5rem;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--botao-azul);
    transition: color 0.3s;
}

.rodape__texto {
    font-size: 14px;
    line-height: 150%;

    color: var(--cinza-secundario);
}

.rodape__texto:last-of-type {
    margin-top: 1.25rem;
}

/* Ajustar altura das sections em dispositivos com altura minima de 700px e largura minima de 1024px
@media (min-height: 700px) and (min-width: 1024px)  {
    .container {
        height: 700px;
        border: 5px solid white;
    }
}
*/